/* General Styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
}

#job-results-container {
    color: var(--text-color);
}

.job-entry {
    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.job-entry p {
    margin: 10px 0;
}

.job-entry strong {
    color: var(--primary-color);
}

.job-entry a {
    color: var(--secondary-color);
    text-decoration: none;
}

.job-entry a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* Container Styles */
#job-results-container {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* White background for contrast */
}

/* Ensure responsiveness */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    #back-button {
        width: 100%;
    }
}